{% extends 'base.html' %}
{% block title %}
    Login Page
{% endblock %}

{% block content %}
    <center>
        <h1>Login page</h1>
        <form action="/login" method="POST">
            <br>
            Email   : <input type="text", name="email">
            <br/><br/>
            Password : <input type="password", name="password">
            <br/><br/>
            <button type="submit", class="btn btn-primary">Login</button>
            <br/><br/><br/>
        </form>
            If you don't have an account <a href="/register" class="btn btn-primary btn-sm">Register Now</a>

    </center>
{% endblock %}